<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2019. Google LLC
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     https://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.android.apps.santatracker.presentquest"
    tools:ignore="MissingLeanbackLauncher">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <dist:module
            dist:onDemand="true"
            dist:title="@string/feature_present_quest">
        <dist:fusing dist:include="true" />
    </dist:module>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name="com.google.android.apps.santatracker.presentquest.ui.map.MapsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PresentQuest.NoActionBar" />

        <activity
            android:name="com.google.android.apps.santatracker.presentquest.ui.profile.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PresentQuest.NoActionBar" />

        <!--<meta-data-->
            <!--android:name="VERSION"-->
            <!--android:value="14" />-->
        <!--<meta-data-->
            <!--android:name="DATABASE"-->
            <!--android:value="present-quest.db" />-->
        <!--<meta-data-->
            <!--android:name="QUERY_LOG"-->
            <!--android:value="true" />-->
        <!--<meta-data-->
            <!--android:name="DOMAIN_PACKAGE_NAME"-->
            <!--android:value="com.google.android.apps.santatracker.presentquest.model" />-->

        <service
            android:name="com.google.android.apps.santatracker.presentquest.PlacesIntentService"
            android:exported="false" />
    </application>

</manifest>
